@charset "UTF-8";

@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/poppins-italic-webfont.woff2") format("woff2"), url("../fonts/poppins-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "space_monobold";
  src: url("../fonts/spacemono-bold-webfont.woff2") format("woff2"), url("../fonts/spacemono-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "space_monobold_italic";
  src: url("../fonts/spacemono-bolditalic-webfont.woff2") format("woff2"), url("../fonts/spacemono-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "space_monoitalic";
  src: url("../fonts/spacemono-italic-webfont.woff2") format("woff2"), url("../fonts/spacemono-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "space_monoregular";
  src: url("../fonts/spacemono-regular-webfont.woff2") format("woff2"), url("../fonts/spacemono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/*L'en-tête */
.header {

  box-sizing: border-box;
  font-size: 16px;
  font-family: "space_monoregular", monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}

.header_container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 30px 0;
  flex-wrap: wrap;
}


.header_container#site-navigation {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 30px 0;
  flex-wrap: wrap;

}

.header-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-menu .menu-item {
  margin-bottom: 5px;

}

.header-menu li a {
  padding: 0 10px;
  cursor: pointer;
  background: linear-gradient(to right, #d19808, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: large;
}

/* l'icône du menu burger */
.burgerMenu {
  margin-right: 20px;

}

.burgerMenu .bar {
  width: 100%;
  height: 4px;
  background-color: black;
  transition: transform 0.3s ease-in-out;
}

.burgerMenu.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burgerMenu.open .bar:nth-child(2) {
  opacity: 0;
}

.burgerMenu.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav-links-container {
  display: flex;
}

.nav-links-container li {
  font-size: 16px;
  font-family: "space_monoregular", monospace;
  text-transform: uppercase;
}

.nav-links-container li a {
  color: #000;
  text-decoration: none;
}

.nav-links-container li a:hover {
  font-weight: 700;
}

.wrapper {
  z-index: 1;
  width: 100%;
  height: 90vh;
  background: linear-gradient(124deg, #d19808, black, #a77a07, #b5891c, #d19808, black, #a77a07, #b5891c);
  background-size: 800% 800%;
  -webkit-animation: customRainbow 16s ease infinite;
  -moz-animation: customRainbow 16s ease infinite;
  -o-animation: customRainbow 16s ease infinite;
  animation: customRainbow 16s ease infinite;

}

.wrapper img {

  height: 50%;
  transform: rotate(15deg);
}

div#wpcf7-f31-o1 {
  height: 83%;
}

.logo {

  animation: AnimationToUp 2s;
  transform: rotate(15deg);
  width: 200px;
  height: auto;
  margin-left: 2%;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

/*footer**/
footer {
  height: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  font-family: "space_monoregular", monospace;
  padding-top: 10px;
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.footer-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-menu li {
  padding: 0 40px;
}

.footer-menu li a {

  cursor: pointer;
  background: linear-gradient(to right, #d19808, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: large;
}

/* le formulaire de contact */
.form-contact {
  display: flex;
  flex-direction: column;

}

.form-contact>p {
  margin: 0;
}

/*les champs de saisie personnalisés */
.custom-input-class,
.custom-textarea-class {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #b8bbc2;
  resize: none;
}

/* le champ de saisie */
.custom-input-class {
  height: 37px;
}


/*l'étiquette personnalisée */
.custom-label {
  border: 3px solid #dbac34;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  font-family: "PoppinsMedium";
  font-weight: bolder;
  line-height: 18px;
}

/*le bouton de soumission personnalisé */
.customsubmit {
  margin-left: 60px;
  padding: 20px 50px;
  font-size: 1.5rem;
  cursor: pointer;
  background: transparent;
  position: relative;
  transition: all .2s;
  overflow: hidden;
  color: #0b0a0a;
  border-radius: 30px;
  border: 3px solid #dbac34;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  background-size: cover;
  background-position: center;
  top: 3px;
  animation: AnimationToUp 2s;
}

/*l'overlay de la fenêtre modale */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 3, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-overlay.open {
  display: flex;
}

.popup-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 512px;
  border: 2px solid black;
  background: whitesmoke;
  padding: 20px 40px 40px 40px;

  border-radius: 8px;
  overflow: hidden;

}

.popup-contact img {
  width: 120px;
  height: auto;
  border: 3px solid #dbac34;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  background-size: cover;
  background-position: center;
  top: 3px;
  animation: AnimationToUp 2s;
}

.PhotoSimilaire {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.blockPhotoRelative {
  flex-shrink: 0;
  position: relative;
  width: 564px;
  height: 495px;
  margin-bottom: 50px;

}

.blockPhotoRelative img {
  border: 3px solid #dbac34;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  background-size: cover;
  background-position: center;
  top: 3px;
  animation: AnimationToUp 2s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.blockPhotoRelative .overlay:hover .eye-icon,
.blockPhotoRelative .overlay:hover .fullscreen-icon {
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.3s, background-color 0.3s;

}

.overlay:hover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.8);

}

.overlay:hover h2,
.overlay:hover h3 {
  display: block;
}

.overlay h2 {
  text-transform: uppercase;
  position: absolute;
  left: 10px;
  top: 454px;
  color: white;
  font-family: PoppinsRegular;
  font-size: 14px;
  display: none;

}

.overlay h3 {
  text-transform: uppercase;
  position: absolute;
  left: 488px;
  top: 452px;
  color: white;
  font-family: PoppinsRegular;
  font-size: 14px;
  display: none;

}

.overlay .eye-icon {
  width: 48px;
  height: 33.2px;
  top: 231.4px;
  left: 255px;
  position: absolute;
  display: none;
}

.overlay .fullscreen-icon {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  width: 34px;
  height: 34px;
  top: 11px;
  left: 512px;
  border: 1px;
  display: none;
}


body {
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}


.cataloguePhotos {
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  max-width: 80%;
  margin: auto;
}

.galleryPhotos {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}


.detailPhoto {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.detailPhoto .photo-title {
  width: 50%;
  margin: 0;
}

.detailPhoto .photo-title h2 {
  font-family: "space_monoregular";
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
  font-size: 66px;
  line-height: 58px;
}

.detailPhoto .photo-info {
  width: 50%;
  text-align: left;
  position: relative;
  padding-bottom: 40px;
  font-family: "space_monoregular";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
}

.detailPhoto .photo-info::before {
  content: "";
  display: block;
  width: 97%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}


.containerPhoto {
  height: 100%;
  width: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.containerPhoto img {
  width: 100%;
  height: 840px;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Section du formulaire de contact */
.contenairContact {
  width: 100%;
  height: 118px;
  align-items: center;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: center;
}

.contenairContact .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

#boutonContact {
  width: 272px;
  height: 50px;
  line-height: 100%;
  background-color: #d8d8d8;
  font-family: "space_monoregular";
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  border: none;
  margin-right: 20px;
}

#boutonContact:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

/* Section de navigation entre les photos */
.naviguationPhotos {
  width: 50%;
  height: 118px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 820px) {
  .naviguationPhotos {
    display: none;
  }
}

/* Flèches de navigation entre les photos */
.naviguationArrow {
  width: 81px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
  height: 118px;

}

.naviguationArrow .arrow {
  width: 25px;
  height: auto;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.naviguationArrow .arrow:hover+.miniPicture {
  display: flex !important;
}

.naviguationArrow .arrow .arrow-left {
  top: 10px;
  position: relative;
}

.naviguationArrow .arrow .arrow-right {
  top: 10px;
  position: relative;
}

/* Conteneur pour les miniatures au survol des flèches de navigation */
.miniPicture-content {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}


.miniPicture,
.miniPicture-left,
.miniPicture-right {
  visibility: hidden;
  opacity: 0;
  position: relative;
  height: 71px;
  width: 81px;
  top: 8px;
  transition: visibility 0, 3s, opacity 0.3s linear;
}

.miniPicture a,
.miniPicture-left a,
.miniPicture-right a {
  display: block;
  width: 100%;
  height: 100%;
}

.miniPicture a img,
.miniPicture-left a img,
.miniPicture-right a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}


.arrow:hover+.miniPicture,
.arrow:hover+.miniPicture-left,
.arrow:hover+.miniPicture-right {
  visibility: visible;
  opacity: 1;
}

/* Titre pour la section des photos similaires */
.titleSugest {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}



/*"Cette photo vous intéresse ?" */
.interesser {
  font-family: "PoppinsRegular";
  font-size: 14px;
  text-align: center;
}

/* Pas de photo similaire trouvée */
.photoNotFound {
  margin: 0 auto;
  margin-bottom: 5%;
  font-family: "PoppinsRegular";
  font-size: 20px;
  text-align: center;
}

/*des photos similaires */
.similar_photo {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.similar_photo .similar_photo__container {
  width: 48%;
}

.similar_photo .similar_photo__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Styles généraux */
.width-420 {
  width: 420px;
}













.banner {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.banner1 {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner1:hover img {
  transform: scale(1.05);

  opacity: 1;
}

.banner1.loaded img {
  opacity: 1;

}

.banner1 img {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0.8;
  border: 3px solid #dbac34;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  background-size: cover;
  background-position: center;
  top: 3px;
  animation: AnimationToUp 2s;
}

@keyframes AnimationToUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.citation {
  border: 3px solid #dbac34;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  background-position: center;
  top: 3px;
  color: #333;
  position: relative;
  padding: 2em;
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #d19808, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  opacity: 0.8; 
  transform: scale(0.95); 
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.citation::before {
  content: "“";
  font-size: 3em;
  color: #007bff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.citation::after {
  content: "”";
  font-size: 3em;
  color: #007bff;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.citation:hover::before,
.citation:hover::after {
  opacity: 1;
}

.citation:hover {
  opacity: 1; 
  transform: scale(1); 
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 85%;
  height: 10%;
  font-family: "space_monobold_italic", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 6vw;
  line-height: 10vh;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 3px #ffffff;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  animation: AnimationToDown 2s;
}

@keyframes AnimationToDown {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.blocCatalogue {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  gap: 10px;
}


#load-moreContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* le bouton "Chargerplus" */

#btnLoad-more {
  padding: 20px 50px;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  transition: all .2s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: 3px solid #dbac34;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  background-position: center;
  top: 3px;
  animation: AnimationToUp 2s;
}

#btnLoad-more::after {
  content: '';
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-image: linear-gradient(225deg, #ffb908 0%, #886c26 50%, #d19808 100%);
  z-index: -1;
  transition: all .5s;
}

#btnLoad-more:hover::after {
  transform: rotate(150deg);

}

#btnLoad-more:hover {
  transform: translate(0, -6px);


}

.filtre {
  margin-bottom: 40px;
}

.custom-select {
  width: 260px;
  height: 43px;
  border: 1.3px solid #b8bbc2 !important;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
}

/* chaque paire label/select */
.taxonomy-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .taxonomy-container {
    width: 100%;
  }
}


#filtrePhoto {
  padding-top: 50px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

@media screen and (max-width: 770px) {
  #filtrePhoto {
    width: 315px;
    flex-direction: column;
  }
}

@media screen and (min-width: 770px) and (max-width: 1140px) {
  #filtrePhoto {
    width: 715px;
  }
}

@media screen and (max-width: 340px) {
  #filtrePhoto {
    margin-bottom: 50px;
  }
}

/*section gauche : 'Catégorie' et 'Format' */
.left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 770px) {
  .left-section {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 100%;
  }
}

/* section droite : 'Trier par' */
.right-section {
  align-items: flex-end;
}

/* le sélecteur 'Trier par' */
#annees {
  margin-left: auto;
}

.select2-dropdown .select2-search--dropdown .select2-search__field {
  display: none;
}


.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected]:hover,
.select2-container--default .select2-results__option--highlighted[data-selected]:hover,
.select2-container--default .select2-results__option--highlighted[aria-selected]:focus,
.select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[data-selected]:focus {
  background-color: #dbac34;
  color: #fff;
}


.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: #dbac34;
  color: #fff;
}


.select2-results__option--highlighted {
  background-color: #dbac34 !important;
  color: #fff !important;
  border: 3px solid #dbac34;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgb(255, 253, 253);



}

.select2-container--default {
  font-family: "poppinsregular";

}

.select2-search--dropdown {
  padding: 20px !important;

}

/* la sélection unique de Select2 */
.select2-container--default .select2-selection--single {
  width: 260px !important;
  height: 43px !important;
  border: 1.3px solid #f1f1f1 !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  color: white !important;
  overflow: hidden;
  background: linear-gradient(to right, #d19808, black);


}

.select2-container {
  width: 100% !important;
}


.select2-container--default .select2-results__option:not(:first-child)[aria-selected=true] {
  background-color: white !important;
  color: #fff !important;
}




/* pour les écrans de taille maximale de 768px */
@media screen and (max-width: 768px) {
  .select2-container--default .select2-selection--single {
    width: 100% !important;
    margin-bottom: 5px;
  }
}



.select2-selection__rendered {
  color: white !important;
}

.AS {
  width: 100%;
  height: auto;
  border: 3px solid #dbac34;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);

}

.fab.fa-linkedin {
  font-size: 24px;
  color: #0077B5;
  margin-right: 5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}


button::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(225deg, #ffb908 0%, #886c26 50%, #d19808 100%);
  z-index: -1;
  transition: clip-path 0.5s ease-in-out;
  clip-path: circle(0% at 50% 50%);

}

button {
  padding: 20px 50px;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  overflow: hidden;
  color: #111010;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  border: 3px solid #dbac34;
  border-radius: 15px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  background-position: center;
  top: 3px;
}

button:hover::after {
  clip-path: circle(150% at 50% 50%);

}

button:hover {
  color: #000;

  transform: scale(1.05);

}

button:active {
  transform: scale(0.95);
}


@-webkit-keyframes bounce {

  0%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce {

  0%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/* TIMELINE FLAT DESIGN
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: #f9f9f9;
  padding: 30px 0;
  margin-left: 2%;
}


.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 4px;
  margin: 0 auto;
  padding-top: 40px;
  background: #ccc;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d19808;
  border: 2px solid #fff;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 300px;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 4px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 30px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -10px;
  border-width: 5px 10px 5px 0;
  border-color: transparent #fff transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -334px;
}

.timeline ul li:nth-child(even) div::before {
  right: -10px;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #fff;
}

time {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #d19808;
}

.timeline ul li div p {
  font-size: 0.9rem;
  color: #666;
}

/* EFFETS (discrets pour le flat design)
––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
  background: #ccc;
  border-color: #f9f9f9;
}

.timeline ul li.in-view::after {
  background: #d19808;
  border-color: #fff;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(20px);
}

.timeline ul li:nth-child(odd) div {
  transform: translateX(50px);
}

.timeline ul li:nth-child(even) div {
  transform: translateX(-50px);
}

.timeline ul li.in-view div {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 768px) {
  .timeline ul li div {
    width: 200px;
  }

  .timeline ul li:nth-child(even) div {
    left: -234px;
  }
}

@media screen and (max-width: 576px) {
  .timeline ul li {
    margin-left: 15px;
  }

  .timeline ul li div {
    width: calc(100vw - 60px);
  }

  .timeline ul li:nth-child(even) div {
    left: 30px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -10px;
    border-width: 5px 10px 5px 0;
    border-color: transparent #fff transparent transparent;
  }
}

.herocontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.color-palette-control {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.color-palette {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
}

.color-palette.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.color-option {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease-in-out;
}

.color-option:hover {
  transform: scale(1.1);
}

.toggle-palette-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out, box-shadow 0.2s ease-in-out;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-palette-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Styles pour l'icône de palette CSS */
.palette-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.palette-slice {
  position: absolute;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}



.lucide-paintbrush {
  display: none;
  }


.palette-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: linear-gradient(45deg, #d19808 0%, #f0c239 50%, #d19808 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}


.palette-slice {
  display: none;
}


/* MEDIA QUERRIES */
@media screen and (max-width: 600px) {
  .header {
    padding-inline: 16px;
  }

  .header.open {
    position: fixed;
    background-color: #fff;
    z-index: 2;
    animation: openNav 0.7s ease-in-out 0s forwards;
  }

  @keyframes openNav {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .header .siteNavigation .burgerMenu,
  .header .header_container .burgerMenu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .header .siteNavigation .burgerMenu .bar,
  .header .header_container .burgerMenu .bar {
    width: 100%;
    height: 4px;
    background-color: black;
    transition: transform 0.3s ease-in-out;
  }

  .header .siteNavigation .burgerMenu.open .bar:nth-child(1),
  .header .header_container .burgerMenu.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .header .siteNavigation .burgerMenu.open .bar:nth-child(2),
  .header .header_container .burgerMenu.open .bar:nth-child(2) {
    opacity: 0;
  }

  .header .siteNavigation .burgerMenu.open .bar:nth-child(3),
  .header .header_container .burgerMenu.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .header .siteNavigation .navigation,
  .header .header_container .nav-links-container {
    display: none !important;
  }

  .header .siteNavigation .navigation.open,
  .header .header_container .nav-links-container.open {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: -16px;
    right: 0;
    width: 100vw;
    height: 100vh;
  }

  .header .siteNavigation .navigation.open .menuNavigation,
  .header .header_container .nav-links-container .header-menu {
    flex-direction: column;
    gap: 18px;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding-inline: 0;
  }

  .header .siteNavigation .navigation.open .menuNavigation li,
  .header .header_container .nav-links-container .header-menu li {
    font-size: 45px !important;
  }

  .header .siteNavigation .navigation.open .menuNavigation li a,
  .header .header_container .nav-links-container .header-menu li a {
    color: #fff !important;
  }
}


@media screen and (max-width: 321px),
(max-width: 376px) {
  .containerPhoto img {
    height: 540px !important;
  }
}


@media screen and (max-width: 465px) {
  .popup-contact {
    max-width: 270px;
  }
}


@media screen and (max-width: 376px) {
  .footer-nav {
    margin-left: 7%;
  }
}


@media screen and (max-width: 765px) {
  .PhotoSimilaire {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 765px) and (max-width: 1140px) {
  .blockPhotoRelative {
    width: 370px;
  }
}

@media screen and (max-width: 765px) {
  .blockPhotoRelative {
    width: 318px;
    height: 279px;
  }
}


@media screen and (max-width: 765px) {
  .overlay h2 {
    top: 227px;
    font-size: 12px;
  }
}

/*overlays*/

@media screen and (max-width: 765px) {
  .overlay h3 {
    left: 240px;
    top: 237px;
    font-size: 12px;
  }
}

@media screen and (min-width: 765px) and (max-width: 1140px) {
  .overlay h3 {
    left: 289px;
  }
}


@media screen and (max-width: 765px) {
  .overlay .eye-icon {
    top: 135px;
    left: 140px;
  }
}

@media screen and (min-width: 765px) and (max-width: 1140px) {
  .overlay .eye-icon {
    left: 175px;
  }
}

@media screen and (max-width: 765px) {
  .overlay .fullscreen-icon {
    top: 17px;
    left: 267px;
  }
}

@media screen and (min-width: 765px) and (max-width: 1140px) {
  .overlay .fullscreen-icon {
    left: 317px;
  }
}

@media screen and (max-width: 765px) {
  .cataloguePhotos {
    max-width: 375px;
  }
}

@media screen and (max-width: 820px) {
  .galleryPhotos {
    height: 100%;
  }
}

@media screen and (max-width: 765px) {
  .detailPhoto {
    flex-direction: column;
    align-items: center;
  }

  .detailPhoto .photo-info {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }

  .detailPhoto .photo-title {
    width: 100%;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 48px;
  }
}

@media screen and (max-width: 765px) and (max-width: 820px) {
  .detailPhoto .photo-title {
    font-size: 30px;
    line-height: 36px;

  }
}

@media screen and (max-width: 820px) {
  .detailPhoto .photo-title h2 {
    font-size: 40px;
    line-height: 48px;
    width: 100%;
    left: 0;
    position: relative;
    text-align: center;
  }
}


@media screen and (max-width: 820px) {
  .containerPhoto {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 820px) {
  .contenairContact {
    flex-direction: column;
  }

  .contenairContact p {
    font-family: "PoppinsRegular";
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    width: 263px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 820px) {
  .contenairContact .contact {
    flex-direction: column;
  }
}

@media screen and (max-width: 820px) {
  #boutonContact {
    width: 263px;
  }
}


@media screen and (max-width: 1140px) {
  .titleSugest {
    text-align: center;
  }
}

@media screen and (max-width: 1140px) {
  .similar_photo {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 820px) {
  .width-420 {
    width: 100%;
    left: 10px;
    position: relative;
  }
}

@media screen and (max-width: 770px) {
  h1 {
    -webkit-text-stroke: 1px #ffffff;
  }
}


@media screen and (max-width: 426px) {
  .timeline ul {
    margin-left: -200px;
  }

  .footer-menu li a {
    font-size: 15px;
  }
}


@media screen and (max-width: 376px) {

  .footer-menu li {
    padding: 0 1px;

  }

  .banner1,
  .citation {
    width: 375px;
  }

  .citation {
    padding: 0;

  }
}